[submodule "3rdparty/protobuf"]
	path = 3rdparty/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "3rdparty/grpc"]
	path = 3rdparty/grpc
	url = https://github.com/grpc/grpc.git
[submodule "3rdparty/glog"]
	path = 3rdparty/glog
	url = https://github.com/google/glog.git
